*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-accent: #4466ff;
  --color-subtle: #fafafa;
  --color-onAccent: #fff;
  --color-background: #fff;
  --color-onBackground: #000;
  --shadow: 0 4px 8px 0 rgba(128, 128, 128, .1);
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  background-color: var(--color-subtle);
  color: var(--color-onBackground);
  -webkit-overflow-scrolling: auto;
}

h1, h2, h3 {
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 1em;
  letter-spacing: 1px;
}

h2:before {
  content: '\2726';
  margin-right: .5rem;
  color: var(--color-accent);
}

main > h2 {
  font-size: 2.5rem;
}

main {
  padding: 2rem 1rem;
}

.max-width {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  background-color: var(--color-onBackground);
  color: var(--color-background);
  border-bottom: 4px solid var(--color-accent);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  box-shadow: var(--shadow);
}

header > * {
  margin: 0;
}

header a {
  color:inherit;
  text-decoration: none;
}

hr {
  border: 0;
  margin: 0;
}

hr::before {
  content: '\22ef';
  font-size: 2rem;
  color: var(--color-accent);
  display: block;
  text-align: center;
  line-height: 1;
}

section {
  border-left: 4px solid var(--color-accent);
  border-right: 4px solid transparent;
  padding: 1.5rem 1rem;
  margin: 3rem 0;
  line-height: 1.5;
  background-color: var(--color-background);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.desc a {
  color: var(--color-accent);
}

p code {
  display: inline-block;
  background-color: var(--color-subtle);
  color: #111;
  padding: 1px 4px;
  border-radius: 2px;
  line-height: 1.4;
}

pre.prettyprint.prettyprinted {
  font-size: 1.2rem;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0 2rem;
  background-color: var(--color-subtle);
}

footer {
  margin-top: 2rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: var(--color-accent);
  border-left: 4px solid var(--color-accent);
  border-right: 4px solid transparent;
  background-color: var(--color-background);
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: .5rem 1rem;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: .5rem 0;
  transition: .218s ease;
}

.footer-link:hover {
  color: var(--color-onAccent);
  background-color: var(--color-accent);
}

@media (max-width: 400px) {
  header p {
    display: none;
  }

  main > h2 {
    font-size: 1.8rem;
  }

  section {
    margin: 1rem 0;
  }

  pre.prettyprint.prettyprinted {
    font-size: 1rem;
  }
}